* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #DFE9F5; */
    
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: white;
}

.nav-link {
    color: white;
}

.login-container {
    text-align: center;
    padding: 15px;
}

.login-button a {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.signup-button a {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;

}

.persnal {
    padding-left: 100px;
}

.container-fluid {
    background-color: #FFF;
    display: flex;
    padding-left: 112px;
    font-size: 22px;
    font-weight: bold;
    font-family: alberto, sans-serif;
}

.main-heading {
    text-align: center;
}

.main-heading h1 {
    font-size: 2rem;
    margin: 0;
}

@media (max-width: 768px) {
    .main-heading h1 {
        font-size: 1.5rem;
    }
}

.main-div {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 58%;
    /* Adjust this as needed */
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.section-1>img {
    width: 70px;
    padding: 10px;
}

.section-1>p {
    padding: 10px;
    font-weight: 900;
    font-size: 16px;
    font-family: serif;
}

.section-2>p {
    color: lightgray;
    font-size: 14px;
    margin-left: 80px;
    margin-top: -31PX;
    font-family: serif;

}

.section-3>p {
    font-size: 14px;
}